/* element selectors */

footer{
    text-align: center;
    background-color: rgb(126, 134, 134);
    
}


nav a:visited{
    color: black;
}

nav ul{
    list-style: none;
    max-width: 80%;
    margin: auto;
    text-align: center;
}

nav ul li:first-child{
    display: block;
}

nav ul li{
    display: none;
}

nav ul li a{
    border: 1px solid black;
    display: block;
    background-color: rgb(126, 134, 134);
    text-decoration: none;
}

nav a:visited{
    color: black;
}

/* class selectors */

.show li{
    display: block;
}

