@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

/* element selectors */

/* aside {
    Color Pallete
    Primary: #235789;
    Secondary: #C1292E;
    Accent1: #F0EC57;
    Accent2: #748067;
    Other: #0B0A07;
} */

a:visited {
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

button{
    height: 44px;
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 25px;

}

h1,
h2,
h3,
h4 {
    text-align: center;
}

header {
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 221, 30);
    grid-row: -5 / -4;
}

html {
    width: 100%;
    height: 100%;

}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Noto Sans', sans-serif;
}

footer {
    text-align: center;
    background-color: rgb(139, 60, 158);
    border: 1px solid black;

    grid-row: -2 / -1;
}

main {
    margin: 5px;
    grid-row: -3 / -2;

    margin: auto;
    width: 100vw;
    font-size: 1 rem
}

nav {
    max-width: 100%;
    align-self: center;
    padding: 0;
    margin: 0;
    grid-row: -4 / -3;
}

nav ul {
    list-style: none;
}

nav ul li:first-child {
    display: block;
}

nav ul li {
    display: none;
    text-align: center;

}

nav ul li a {
    border: 1px solid black;
    display: block;
    background-color: rgb(139, 60, 158);
    text-decoration: none;
    height: 40px;
    padding-top: 20px;
    font-size: 1.2rem;
}

section{
    border: 1px solid black;
    padding: 15px;
}

textarea {
    width: 375px;
    height: 250px;
    background-color: lightyellow;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

/* class selectors */

.button {
    margin: 15px;
}

.delBtn{
    background-color: lightcoral;
    width: 35px;
    margin: auto;
}

/* .linkBtn{
    background-color: lightcoral;
    width: 35px;
    margin: 5px;
    border: 1px solid black;
} */

/* RESPONSIVE NAVIGATION */

.ham {
    padding: 13px;
    margin: 0;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    /* color: #000; */
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    color: #000;
    background-color: rgb(139, 60, 158);
    font-weight: 700;
}

.responsive li {
    display: block;
}

.show li {
    display: block;
}

.hidden{
    display: none;
}

/* ID Selectors */

#buttons button {
    padding: 0.15rem;
    margin: 1rem;
    background-color: lightblue;
}

/* Vocab cards themselves */
#cards ul li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2.5px;
    
}

/* BUTTONS FOR CREATING AND REMOVING COLLECTIONS */

#createCollection button{
    background-color: lightgreen;
    font-size: 1.10rem;
}
#removeCollection button{
    background-color: lightcoral;
    font-size: 1.10rem;

}

#cards button{
    background-color: lightgreen;
    font-size: 1.10rem;
}

#cards ul li button{
    background-color: lightcoral;
}

#library li{
    border: 1px solid black;
    width: 150px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: lightblue;


}

#name_input {
    background-color: lightyellow;
}



